importFrom(minqa, bobyqa)   
import(stats)
import(graphics)
S3method(print, glmmLasso)
S3method(summary, glmmLasso)
S3method(predict, glmmLasso)
S3method(plot, glmmLasso)
S3method(print, summary.glmmLasso)
export(glmmLasso, glmmLassoControl)
S3method(glmmLasso,formula)
